{% load static %}
{% load django_bootstrap5 %}

<header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" style="background-color: black;">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="{% static 'img/logo.png' %}" height="100" class="d-inline-block align-top" alt="">
      </a>

      <div 
        class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarNav" 
        aria-controls="navbarNav" 
        aria-expanded="false" 
        aria-label="Toggle navigation"
        >
        <span class="navbar-toggler-icon"></span>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        {% with request.resolver_match.view_name as view_name %}            
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a
              class="nav-link {% if view_name == 'autoproduct_list' %} active {% endif %}"
              href="{% url 'autoproduct_list' %}"
              >
              Главная
            </a>
          </li>


          <li class="nav-item">
            <a
              class="nav-link"
              href="{% url 'store_list' %}"
            >
              Cписок магазинов
            </a>
          



          {% if admin %}
            <li class="nav-item">
            <a
              class="nav-link"
              href="/admin/"
              style="background-color: whitesmoke; color: black;"
            >
              Админ-панель
            </a>
            </li>
          {% endif %}

        </ul>
        {% endwith %}
      </div>

      <div>
      <div style="border: 2px solid darkgray; border-radius: 10px; padding: 4px;">
      <div class="card-body">
          {% if user and user.email %}

              <p class="nav-item" style="display: inline;" >{{ user.first_name }} {{ user.last_name }}</p>
              <pre class="nav-item" style="display: inline; width: 8px"> </pre>
              <form class="nav-item"  style="display: inline; width: 8px" method="post" action="/logout/">
                  {% csrf_token %}
                  {% bootstrap_button button_type="submit" content="Выйти" button_class="btn-warning" %}
              </form>
          {% else %}
              <p class="nav-item" style="display: inline;" > Не авторизован</p>
              {% bootstrap_button button_type="link" content="Войти" href="/login/" button_class="btn-success" %}
          {% endif %}
      </div>
      </div>

      </div>
    </div>
  </nav>
</header>