{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
  Изменение в модель "{{ model_name }}"
{% endblock %}

{% block content %}

    
    <div style="display: flex; align-items: center; justify-content: space-around;">
        <div class="card col-8 row-12">

            <div class="card-body">

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% bootstrap_button button_type="submit" content="Применить" %}
                </form>
                
                {% if error %}
                    <br>
                    <div class="alert alert-danger" role="alert">
                        <h4>{{ error }}</h4>
                    </div>
                {% endif %}
            </div>

        </div>

    </div>
    
{% endblock %}