{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}Список поставщиков{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h2>Список поставщиков</h2>
    </div>

    <!-- Форма для выбора количества записей -->
    <div class="card col-8 row-12" style="margin: auto; padding: 20px;">
        <form method="get">
            {% bootstrap_form filter.form %}

            <label for="records_per_page">Количество записей на странице:</label>
            <select id="records_per_page" name="records_per_page" onchange="this.form.submit()">
                <option value="5" {% if records_per_page == 5 %}selected{% endif %}>5</option>
                <option value="7" {% if records_per_page == 7 %}selected{% endif %}>7</option>
                <option value="10" {% if records_per_page == 10 %}selected{% endif %}>10</option>
                <option value="20" {% if records_per_page == 20 %}selected{% endif %}>20</option>
            </select>

            <button type="submit" class="btn btn-primary">Применить</button>
        </form>
    </div>

    {% if admin %}
        <a href="{% url 'store_create' %}" class="btn btn-success mb-3">Добавить поставщика</a>
    {% endif %}

    <article>
        {% for store in page_obj %}
            <div class="card mb-3" style="max-width: 40rem; margin: auto;">
                <div class="card-body">
                    <h5 class="card-title">{{ store.Store_name }}</h5>
                    <p class="card-text">URL: <a href="{{ store.URL }}">{{ store.URL }}</a></p>
                    <p class="card-text">Описание: {{ store.Description }}</p>

                    {% if admin %}
                        <a href="{% url 'store_edit' store.pk %}" class="btn btn-info">Изменить</a>
                        <a href="{% url 'store_delete' store.pk %}" class="btn btn-danger">Удалить</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </article>
    
{% endblock %}
