{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
  Поставщики
{% endblock %}

{% block content %}
    <div style="display: flex; align-items: center; justify-content: space-around;">
        <div class="card col-8 row-12">

            <div class="card-body">
                <form method="get">
                    {% bootstrap_form filter.form %}
                    {% bootstrap_button button_type="submit" content="Фильтровать" %}
                    {% if admin %}
                        {% url 'projectForDBD:supplier_create' as add_url %}
                        {% bootstrap_button button_type="link" content="Добавить новую запись" href=add_url button_class="btn-success" %}
                    {% endif %}
                    
                </form>
            </div>

        </div>

    </div>
    <br>

    
    <article class="mb-5">
    {% for supplier in page_obj %}
        <div style="display: flex; align-items: center; justify-content: space-around; margin-bottom: 4px; margin-top: 4px;">
            <div class="card" style="width: 40rem;">
              <div class="card-body">
                <h5 class="card-title">{{ supplier.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <small>
                        {{ supplier.contact_info }}
                    </small>

                </h6>
                <!--p class="card-text">{{ post.text|truncatewords:10 }}</p-->
                {% if admin %}
                    <!--<a href="" class="btn-info">Изменить</a>  button_class="btn-success" -->
                    {% url 'projectForDBD:supplier_edit' supplier.id as edit_url %}
                    {% bootstrap_button button_type="link" content="Изменить" href=edit_url %}
                    
                    {% url 'projectForDBD:supplier_delete' supplier.id as delete_url %}
                    {% bootstrap_button button_type="link" content="Удалить" href=delete_url button_class="btn-danger" %}
                {% else %}
                    <a href="{% url 'projectForDBD:supplier_edit' supplier.id %}" class="card-link">Подробнее</a>
                {% endif %}

              </div>
            </div>
        </div>

    {% endfor %}
    </article>


{% endblock %}